<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('assets/img/favicon.png') }}">

    <title>{% if title is defined %}{{ title }}{% else %}{{ project }}{% endif %}</title>

    {% block stylesheets %}
        {% for stylesheet in [
        'assets/vendor/bootstrap/css/bootstrap.min.css',
        'assets/vendor/font-awesome/css/font-awesome.min.css',
        'assets/css/style.css',
        'assets/css/main.css',
        ] %}
            <link href="{{ asset(stylesheet) }}" rel="stylesheet"/>
        {% endfor %} {% endblock %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}


    {% block javascripts %}
        {% for javascript in [
        'assets/vendor/jquery/jquery-2.1.1.min.js',
        'assets/vendor/bootstrap/js/bootstrap.min.js',
        'assets/js/main.js',
        'bundles/bazingajstranslation/js/translator.min.js',
        'bundles/bazingajstranslation/js/translator.min.js'
        ] %}
        <script type="text/javascript" src="{{ asset(javascript) }}"></script>
        {% endfor %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('assets/vendor/fileupload/js/vendor/jquery.ui.widget.js') }}"></script>
        <script src="{{ asset('assets/vendor/fileupload/js/jquery.iframe-transport.js') }}"></script>
        <script src="{{ asset('assets/vendor/fileupload/js/jquery.fileupload.js') }}"></script>
        <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    {% endblock %}
</head>

<body>
<div class="site-wrapper">
    <div class="site-row row-offcanvas row-offcanvas-left">

        <!-- Block alerts -->
        {% block alerts %}
            {% include 'CoreBundle:Form:alerts.html.twig' %}
        {% endblock %}

        <!-- Block navigations -->
        {% include ':Partial:navigation.html.twig' %}

        <!-- Block Title and breadcrumbs -->
        <section id="title-section" class="micro">
            <div class="title-section">
                <div class="container">
                    <div class="col-md-12">
                        <div class="title-section-content">
                            <h1 class="title-heading">{% block title %}{% endblock %}</h1>
                        </div>
                    </div>
                    {% block breadcrumbs %}
                        {#{% include 'CoreBundle:Blocks:breadcrumbs.html.twig' %}#}
                    {% endblock %}
                </div>
            </div>
        </section>

        <!-- Block content -->
        <div class="container overflow-hidden">
            <div class="row row-offcanvas row-offcanvas-left row-offcanvas-sm row-offcanvas-sm-left row-offcanvas-xs box-padding">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <!-- Additional includes -->
        {{ include(':Secured:login.modal.html.twig') }}
        {{ render(controller('AdvertBundle:Component:newAdvertModal')) }}
    </div>
</div>
</body>
</html>
