<div class="aside-profile">
    <div class="panel panel-default panel-profile">
        <div class="panel-body no-padding">
            <div class="media profile text-center">
                <div class="media-avatar">
                    <img src="{{ user.avatar | imagine_filter('avatar') }}" class="img-circle" />
                    {#<img src="{{ asset(user.avatar) }}" class="img-circle">#}
                    <span class="label label-info label-speech">Looking to buy!</span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ user.getFullName }}</h4>
                    <span class="media-meta"><i class="fa fa-map-marker"></i> Kuala Lumpur, Malaysia</span>
                    <!-- <a href="#" class="btn btn-flat-green">Contact</a> -->
                </div>

                <ul class="list-group list-group-inline media-counter clearfix">
                    <li class="list-group-item col-md-6 col-sm-6 col-xs-6">
                        <span class="counter-number">{{ user.adverts|length }}</span>
                        <span class="counter-text">{{ 'Обявления'|trans }}</span>
                    </li>
                    <li class="list-group-item col-md-6 col-sm-6 col-xs-6">
                        <span class="counter-number">{{ user.advertBookmarks|length }}</span>
                        <span class="counter-text">{{ 'В закладках'|trans }}</span>
                    </li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="list-title uppercase">About</h5>
                        <p>
                            Pudding bear claw soufflé chocolate cake carrot cake. Pie marzipan pudding cupcake.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h5 class="list-title uppercase">Interested in <span>buying</span></h5>
                        <div class="product-tags clean clearfix">
                            <a href="#">Bukit Jalil</a>
                            <a href="#">Subang Jaya</a>
                            <a href="#">Kuala Lumpur</a>
                            <a href="#">Apartment</a>
                            <a href="#">Townhouse</a>
                            <a href="#">Link House</a>
                            <a href="#">Putrajaya</a>
                            <a href="#">Ammenities</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>