{% extends '::base.html.twig' %}

{% block title %}
    Создание обявления
{% endblock %}

{% block actions %}
    <a class="btn btn-default" href="{{ path('advert') }}">К списку</a>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-3">
            {{ render(controller('UserBundle:Component:sidebarProfile')) }}
        </div>
        <div class="col-md-9">
            <div class="box">
                {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
                {{ bootstrap_set_style('horizontal') }}
                {{ form_row(form.title) }}
                {{ bootstrap_set_style('') }}
                <div class="text-right">
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            var advertForm = $('form[name=advert_advert_create]');

            advertForm.find('input').on('change', function() {
                $(this).parents('.form-group').filter('.has-error').find('.help-block').remove();
                $(this).parents('.form-group').removeClass('has-error');
            });

            advertForm.on('submit', function() {
                var Request = $.ajax({
                    'url': advertForm.attr('action'),
                    'dataType': 'json',
                    'data': $(advertForm).serialize(),
                    'type': 'post'
                });

                Request.always(function(){
                    $('.has-error .help-block').remove();
                    $('.form-group').removeClass('has-error');
                });

                Request.done(function(Response) {
                    if (Response.errors) {
                        addMessage('warning', 'Please check form');
                        $.each(Response.errors, function(field, message) {
                            var element = $('form [id$=_'+ field + ']');
                            element.after($('<div />', {
                                'class' : 'help-block'
                            }).append(message));

                            element.parents('.form-group').addClass('has-error');
                        });
                    } else {
                        window.location.replace(Response.redirect_href);
                    }
                });

                Request.fail(function(Response) {
                    addMessage('error', Response.responseJSON.message);
                });

                return false;
            });
        });
    </script>
{% endblock %}
