<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% set navigation_links = [
                {
                'title':'Главная',
                'path':'homepage'
                },
                {
                'title':'Обявления',
                'path':'advert'
                },
                {
                'title':'Рубрики',
                'path':'category'
                }
                ] %}
                <!-- Fixed navbar -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('homepage') }}">{{ project }}</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% for link in navigation_links %}
                                <li class=""><a href="{{ path(link.path) }}">{{ link.title }}</a></li>
                            {% endfor %}

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('advert_create') }}">{{ 'advert.create_new'|trans }}</a></li>

                            {% if is_granted("ROLE_USER") %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                       role="button"
                                       aria-expanded="false"> Профиль <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('profile.show', {'id':app.user.id}) }}">Профиль</a></li>
                                        <li><a href="{{ path('profile.edit') }}">Настройки</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="">
                                    <a class="login" data-toggle="modal"
                                       href="#login-overlay">{{ 'security.login.submit'|trans }}</a>

                                </li>
                                <li>
                                    <a class="register"
                                       href="{{ path('fos_user_registration_register') }}">{{ 'security.registration.submin'|trans }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>