<div class="prop-item col-sm-6 col-md-4">
    <div class="thumbnail">

        <div class="thumbnail-img thumbscrubber">
										    <span class="ts-inner">
												<img src="http://upload.wikimedia.org/wikipedia/commons/8/89/Semi-detached_house_in_Darlow_Street%2C_Wagga_Wagga.jpg" alt="House" class="ts-currslide">
												<img src="http://upload.wikimedia.org/wikipedia/commons/7/75/Family-room-700.jpg" alt="Family Room" class="">
												<img src="http://upload.wikimedia.org/wikipedia/commons/3/39/METLA_SUIHKU_big.jpg" alt="Bathroom" class="">
												<img src="http://upload.wikimedia.org/wikipedia/commons/b/b2/Fully_Furnished_Atenas_Apartments_for_rent.jpg" alt="Kitchen" class="">
										    </span>
        </div>
        <div class="thumbnail-body">
            <div class="caption">
                <a href="{{ path('advert_show', { 'id': advert.id }) }}">
                    <h3>{{ advert.title }}</h3>
                    {#<span class="prop-address">12, Bull Road, Kuala Lumpur</span>#}
                    <div class="prop-price">{{ advert.price }} грн.</div>
                    <p>
                        {{ advert.content|slice(0, 150) }}...
                    </p>
                </a>
            </div>

            <div class="content clearfix">
                <ul class="list-unstyled feature-list">
                    <li><i class="fa fa-calendar"></i> {{ advert.createdAt|localizeddate('medium', 'none') }}</li>
                    <li><i class="fa fa-eye"></i> {{ advert.countOfViews }}</li>
                </ul>

                <div class="link-action clearfix">
                    {% set status = advert.userBookmarks.contains(app.user) ? 'favorited' : '' %}
                    <a href="#" class="col-md-6 col-sm-6 col-xs-6 save-favorite {{ status }}" data-handler="bookmark" data-id="{{ advert.id }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save to Favorite"><i class="fa fa-star"></i></a>
                    <a href="#" class="col-md-6 col-sm-6 col-xs-6 contact-agent" data-toggle="tooltip2" data-placement="top" title="" data-original-title="Contact Agent"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>