{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = [
    { 'path': path('homepage'), 'title': 'project.homepage'|trans },
    { 'title': 'profile.one'|trans }
    ] %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ user.getFullName }}
{% endblock %}


{% block body %}
    <div class="row row-offcanvas row-offcanvas-left row-offcanvas-sm row-offcanvas-sm-left row-offcanvas-xs box-padding">
        <div class="col-md-3 sidebar-offcanvas sidebar-offcanvas-sm">
            {{ render(controller('UserBundle:Component:sidebarProfile')) }}
        </div>

        <div class="col-md-9">
            <div class="profile-content">
                <div class="tab-content no-bg no-border">
                    {{ render(controller('UserBundle:Component:bookmarksAdverts')) }}
                    {{ render(controller('UserBundle:Component:recentAdverts')) }}
                    {{ render(controller('UserBundle:Component:viewedAdverts')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}